h1 
{
	display: block;
	text-align: center;  
	color: orange;
	font-size: 3em;
}

body 
{
	background-image: url('dragonball.jpg');
    background-size: 1550px 1000px;
}

section p
{
	display: block;
	background-color: red;
	font-size: 2em;
}
.input{
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.input :hover {
    background-color: rgba(255, 0, 0, 1);
}

.input :active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}


